@CHARSET "UTF-8";
body {
  background-color: grey;
}
body .container {
  text-transform: uppercase;
}
body .container #totoh a {
  color: brown;
}
body .container #totoh p {
  color: blue;
}
body .container #titih p {
  color: red !important;
  color: yellow;
}
body .container #titih p font {
  style: normal;
  family: Arial;
  size: 18px;
}

/*# sourceMappingURL=style.css.map */
