@CHARSET "UTF-8";

$color:blue;
$fStyle:normal;
$fFamily:Arial;
$fSize:18px;
$fColor:red;

@mixin mise-en-forme {
  font {
    style: $fStyle;
    family: $fFamily;
    size: $fSize;
  }
  color: $fColor !important;
}
body{
  background-color: grey;
  .container {
    text-transform: uppercase;
    #totoh{
      a{
        color: brown;
      }
      p{
        color: $color;
      }
    }
    #titih {
      p {
        @include mise-en-forme;
        color: yellow;
      }
    }
  }
}